<!DOCTYPE html>
<title>About</title>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<h2>My bio:</h2>
<p>I was born and raised in Great Neck, NY until the age of 13. I moved to Los Angeles, where I attended the Harvard-Westlake School. I now attend Northwestern University, and I am part of the Class of 2018. I will double major in Economics and Mathematical Methods in the Social Sciences!</p>
<img src="IMG_1821.PNG" width="350">
<h3>Interests:</h3> 
<h4>Travelling</h4>
<p>I love visiting new places and exploring new cultures. I have travelled throughout Europe, the Middle East, South East Asia, and now South Africa. Next up, South America!</p>
<br>
<h4>Music</h4>
<p>I am a big fan of music. I used to play the bass clarinet in my school's orchestra. I am a big fan of classical music, especially Beethoven, but I am also a big fan of house music. Share music with me through <a href="https://soundcloud.com/e-sassouni">Soundcloud</a>!</p>