<!DOCTYPE html>

 <title>Contact</title>
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<h2>Contacts</h2>
<p>Email: eliott.sassouni@gmail.com</p>
<br>
<p>Phone: +1-516-477-9156</p>
<br>
<p>Facebook: Eliott Sassouni</p>
<br>
<p>Snapchat: esass88</p>
<br>
<p>Instagram: e.sassouni</p>