<!DOCTYPE html>

<title>Eliott Sassouni</title>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<h1>Welcome to my site!</h1>
<h3>My name is Eliott Sassouni and this is me:</h3>
<img src="thumbnail.png">
<p>I hail from sunny Southern California, but I go to school in the Mid-West. I like travelling, music, and good company. Learn <a href="/about">more about me...</a></p>