<h1>Welcome to my calculator</h1>

<h3>Use this app in the following way:</h3>

<p>1. Come up with your operation (add, multiply, subtract, divide, exponent)<br>
2. Choose your first number <br>
3. Choose your second number <br>
4. Place your operator and two numbers in the route as seen in the following example: http://localhost:9393/add/4/7
</p>